<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="869769">  <td>22/04/16 14:12:28</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;CheckJenk.beforeTest()[pri:0, instance:runOnJenk.CheckJenk@69997e9d]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@782505238</td>   <td></td> </tr>
<tr bgcolor="869769">  <td>22/04/16 14:12:28</td>   <td>88</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CheckJenk.mainTest()[pri:0, instance:runOnJenk.CheckJenk@69997e9d]">mainTest</td> 
  <td>main@782505238</td>   <td></td> </tr>
<tr bgcolor="869769">  <td>22/04/16 14:12:28</td>   <td>107</td> <td>&nbsp;</td><td title="&lt;&lt;CheckJenk.afterTest()[pri:0, instance:runOnJenk.CheckJenk@69997e9d]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@782505238</td>   <td></td> </tr>
</table>
